* {
  box-sizing: border-box;
}
body{
  margin: 0;
}

.contenedor-general {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: url("/img/gatos.jpg");
  transition: all 1s;
}

.contenedor-banda {
  flex: 1;
}

.contenedor-banda:hover .banda {
  height: 0vh;
}

.banda {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color 0.2s,
              background-color 1.5s,
              height 1s;
}

.banda:hover .texto-banda{
  transition: all 2s;
  transform:rotate(360deg);
}

.contenedor-banda:nth-child(1) .banda {background-color: #00FFFF;}
.contenedor-banda:nth-child(2) .banda {background-color: #00DDDD;}
.contenedor-banda:nth-child(3) .banda {background-color: #00CCCC;}
.contenedor-banda:nth-child(4) .banda {background-color: #00BBBB;}
.contenedor-banda:nth-child(5) .banda {background-color: #00AAAA;}

.banda:hover{
  background-color: #000;
  color:#fff;
}

.banda:hover + .banda {
  background-color: #fff;
  color:#000;
}
